.DS_Store
*.out

vendor/

*.swp

build/

config.yml
!config.yml.dist
*.log

ent/
!ent/schema
!ent/generate.go
!ent/entc.go

gen/

certs/
!certs/Makefile
!certs/server-ext.cnf


cmd/hypershop-manager/src/proto

mock_*.go

*.old

demo/acme-a-consumer
