name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v4
      with:
        go-version: "1.x"
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Build
      run: go build -race -v ./...

    - name: Test
      run: go test -race ./...

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v3.6.0
      with:
        version: v1.52.2
        skip-pkg-cache: true
